<ion-view title="CooperCalculator">
  <ion-content>
    <div class="row">
      <div class="col">

          <form action="" id="toggle_system" >
              <input type="radio" name="system" value="woman" checked id="woman_radio"> Woman&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" name="system" value="man" id="man_radio"> Man<br>
          </form>

        <div class="list">

        <label class="item item-input">
          <input type="number" class="item item-input" placeholder="Fill in your distance" ng-model="data.distance">
        </label>
        <label class="item item-input">
          <input type="number" class="item item-input" placeholder="Fill in your age" ng-model="data.age">
        </label>
        <button class="button button-full button-calm" ng-click="calculateBMI()">Calculate</button>
      </div>

      <div class="card" ng-if="person">
        <div class="item item-divider">
          CooperCalculation
        </div>
        <div class="item item-text-wrap">
          <p>Person: Distance {{person.distance}}, Age {{person.age}}</p>
          <p>BMI: {{person.bmiValue}}</p>
          <p><strong>You are {{person.bmiMessage}}</strong></p>
        </div>
      </div>

      </div>
    </div>
  </ion-content>
</ion-view>
